<html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="{{ MEDIA_URL }}forum/styles.css" type="text/css" rel="stylesheet">
{#    <script type="text/javascript">{% url static %}styles.css</script>#}
    <title></title>
</head>
<body>
<div id="wrap">
    <div id="main" class="clearfix">


{% autoescape off %}
    {% include 'navigation.html' %}
<h1 class="head-title">Форум диванных критиков<br /></h1><h2 class="head-title">{% block title %}{% endblock %}</h2>

{% block content %}
{% endblock %}


    </div>
</div>
    <footer>{% include 'footer.html' %}</footer>
{% endautoescape %}

</body>
</html>