{% extends "base.html" %}

{% block title %}Добавить новую тему{% endblock %}

{% block content %}
        <form id="category_form" method="post" action="{% url 'forum:add_topic' section_id %}">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input class="button" type="submit" name="submit" value="Создать новую тему." />
        </form>
</div>
{% endblock %}