<h1><a href="{% url 'forum:section' section.id %}">{{ section }}</a></h1>
<h2><a href="{% url 'forum:topic' topic.id %}">{{ topic }}</a></h2>

{% for message in messages %}
    <li>{{ message.text }}<br/>Написал {{ message.user }}: {{ message.date }}</li>
{% endfor %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if request.user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        {{ message_form.as_p }}
        <input type="submit" value="Отправить"/>
    </form>
{% else %}
    <p>Незарегистрированные пользователи не могу писать сообщения. <a
            href="{% url 'login' %}?next={{ request.get_full_path }}">Войти</a></p>
    {# TODO ссылка логин с параметром next_page на текущую, чтобы после входа возвращаться сюда и сразу писать сообщ#}
{% endif %}
