{% extends "base.html" %}

{% block title %}Раздел <a class="head-title" href="{% url 'forum:section' section.id %}">{{ section.name }}</a>
    <br />Тема {{ topic.name }}
{% endblock %}

{% block content %}
<div class="chat">
{% for message in messages %}
    <li>{{ message.text }}<br/><a class="message-description">Написал {{ message.user }}</a>: <a class="message-date"> {{ message.date }}</a></li>
    <br />
{% endfor %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if request.user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        {{ message_form.as_p }}
        <input type="submit" value="Отправить"/>
    </form>
{% else %}
    <p>Незарегистрированные пользователи не могу писать сообщения. <a
            href="{% url 'auth_login' %}?next={{ request.get_full_path }}">Войти</a></p>
    {# TODO ссылка логин с параметром next_page на текущую, чтобы после входа возвращаться сюда и сразу писать сообщ#}
{% endif %}
</div>
{% endblock %}
